#=========================================================================
# Git Ignore Files
#=========================================================================

*.bat 
*.mti
*.mpf
*.do
*.bak
*.wlf 
wlft*
 
work/
transcript 